[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sgapi"]
	path = sgapi
	url = https://github.com/defra-data-science-centre-of-excellence/sgapi
